<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<jmxConfigurator />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<!-- 典型的日志pattern -->
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- 演示按时间滚动的策略 -->
	<appender name="defaultlogFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/tmp/logs/svsos-web.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/tmp/logs/svsos-web.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<!-- 保留 30天数据，默认无限 -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- 综合时间与大小的滚动策略，先按小时滚动，小时内的文件大于10mb时再按大小滚动 -->
	<appender name="businessLogFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/tmp/logs/business.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/tmp/logs/business-%d{yyyy-MM-dd_HH}.%i.zip
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS},%msg%n</pattern>
		</encoder>
	</appender>

	<!-- project default level -->
	<logger name="com.svsos.backend" level="DEBUG" additivity="true" />
	<logger name="org.springframework" level="DEBUG" />

	<!-- business log 使用独立的appender，不继承Root的appender -->
	<logger name="business" level="INFO" additivity="false">
		<appender-ref ref="businessLogFile" />
	</logger>


	<!--log4jdbc -->
	<logger name="jdbc.sqltiming" level="INFO" />

	<!-- root -->
	<root level="debug">
		<appender-ref ref="console" />
		<appender-ref ref="defaultLogFile" />
	</root>
</configuration>