body{height: 100%;min-width: 320px;width: 100%;color: #666;font-size: 14px;line-height:1.5em;font-family: \5FAE\8F6F\96C5\9ED1;}
input[type="submit"],input[type="button"]{border: 0;}
a{cursor: pointer;text-decoration: none;}
.alignLeft{text-align: left;}
.alignRight{text-align: right;}
.alignCenter{text-align: center;}
.fl{float: left;}
.fr{float: right;}
.cRed{color: #dd5555;}
.cBlue{color: #008cd5;}
.cGray{color: #999999;}
.cBlack{color: #000;}
.border-box{box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;}

/*底部固定*/
footer{
    height: 50px;width: 100%;
}
.bottom{
    height: 50px;width: 100%;
    position:fixed;bottom:0;left: 0;
    background-color: #f6f8f9;border-top:1px solid #ababab ;
    box-shadow: 2px -1px 2px #d2d6d8;-webkit-box-shadow: 2px -1px 2px #d2d6d8;-moz-box-shadow: 2px -1px 2px #d2d6d8;-ms-box-shadow: 2px -1px 2px #d2d6d8;-o-box-shadow: 2px -1px 2px #d2d6d8;
}
.bottomNav{
    width: 100%;height: 50px;
    display: box;
    display: -moz-box;
    display: -webkit-box;

    /* column-count: 4;
   column-gap: 0;
   -webkit-column-count: 4;
   -webkit-column-gap: 0;
   -moz-column-count: 4;
   -moz-column-gap: 0;
   -ms-column-count: 4;
   -ms-column-gap: 0;*/
    /*padding: 0 1em 10px 1em;*/
}
.bottomNav .bottomIco{box-flex:1;-moz-box-flex:1;-webkit-box-flex:1;}
.bottomNav .bottomIco .bottomBg{display: block;width:25px;height:25px;background:url(../img/navBottom.png) no-repeat 0 2px;background-size: 25px 200px;margin: 0 auto;}
.bottomNav .bottomIco2 .bottomBg{background-position: 0 -48px;  }
.bottomNav .bottomIco3 .bottomBg{background-position: 0 -98px;  }
.bottomNav .bottomIco3.have .bottomBg:after{content: " ";width: 8px;height: 8px;background-color: #f25960;border-radius: 50%;position: absolute;margin-left: 20px;}
.bottomNav .bottomIco4 .bottomBg{background-position: 0 -148px; }
.bottomNav a{color: #000;display: block;text-align: center;font-size: 0.8em;text-decoration: none;padding-top: 4px;}
.bottomNav .bottomIco.selected a{color: #008cd5;}
.bottomNav .bottomIco1.selected .bottomBg{background-position:0 -23px; }
.bottomNav .bottomIco2.selected .bottomBg{background-position:0 -73px; }
.bottomNav .bottomIco3.selected .bottomBg{background-position:0 -123px;}
.bottomNav .bottomIco4.selected .bottomBg{background-position: 0 -173px;}